<div class="big-container product-manage-wrapper flexed-item">
  <form method="post" action="/product-edit/{{product._id}}" class="add-product-form">
    <h3 class="form-title"> Edit Sneaker</h3>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-name" class="label-name label">Name</label>
      <input type="text" class="input-text input" name="name" value="{{product.name}}">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-ref" class="label-ref label">Réf.</label>
      <input type="text" class="input-text input" name="ref" value="{{product.ref}}">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-size" class="label-ref label">Size</label>
      <input type="number" class="input-text input" min="30" max="44" name="sizes">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-descr" class="label-descr label">Description</label>
      <input type="text" class="input-text input" value="{{product.description}}" name="description">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-price" class="label-price label">Price</label>
      <input type="number" class="sneacker-price input" value="{{product.price}}" min="1" name="price">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-main-cat" class="label-main-cat label">Category</label>
      <select name="category" id="main_category" class="select">
        <option value="">Choose main Category...</option>
        <option value="men">Men</option>
        <option value="women">Women</option>
        <option value="kids">Kids</option>
      </select>
    </div>
    <div class="form-item-wrapper flexed-item">
      <label class="label">Tags</label>
      <select name="sneacker-secondary-cat" id="secondary_category" class="select">
        <option value="">Choose Secondary Category...</option>
        <option value="">Friendly</option>
        <option value="">Urban style</option>
        <option value="">Dope</option>
      </select>
    </div>
    <button class="button-primary add-sneacker-btn">Add to collection</button>
  </form>
  {{#if error}}
  <div>{{error}}</div>
  {{/if}}
</div>